<meta charset="utf-8">

{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- Xử lý nút bật tắt chế độ tối -->

<script>
  const currentScheme = localStorage.getItem("scheme");
  let uncheckBox = !1; // Gán giá trị này là false
  
  function disableDarkMode() {
      document.documentElement.setAttribute("data-scheme", "light"), localStorage.setItem("scheme", "light")
  }
  
  function enableDarkMode() {
      document.documentElement.setAttribute("data-scheme", "dark"), localStorage.setItem("scheme", "dark")
  }
  // Nếu biến lấy đưỢc từ trình duyệt là dark thì bật dark và ngược lại
  currentScheme === "dark" ? enableDarkMode() : 
  currentScheme === "light" ? (disableDarkMode(), uncheckBox = !0) :
  // Nếu chưa có biến currentScheme
  window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches ? enableDarkMode() : 
  
  
  // Có thể bỏ dấu , và thêm dấu ; để thay thế
  // Đoạn dưới này có ý nghĩa thứ tự như sau:
  // 1. Chạy hàm: disableDarkMode()
  // 2. Gán uncheckBox = !0 (giá trị là true)
  // 3. Đăng ký một sự kiện:DOMContentLoaded và xử lý:
  //    - Tìm checkbox có class c-scheme-switch_input
  //    - Đăng ký sự kiện change cho checkbox tìm được và xử lý sự kiện đó: t.checked là true), hàm enableDarkMode() được gọi. Nếu không, hàm disableDarkMode() được gọi.  
  //    - Gán giá trị ngược lại cho t.checked: Kiểm tra biến uncheckBox và gán giá trị cho t.checked tương ứng.   
  (disableDarkMode(), uncheckBox = !0), addEventListener("DOMContentLoaded", e => {
      const t = document.querySelector('input[type="checkbox"].c-scheme-switch_input');
      t.addEventListener("change", () => {
          t.checked ? enableDarkMode() : disableDarkMode()
      }), uncheckBox ? t.checked = !1 : t.checked = !0
  })
</script>
<!-- end Xử lý nút bật tắt chế độ tối -->

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"></noscript>

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
